body{
	background-image: url(img/stemwijzer.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
main{
	margin: 0 auto;
	width: 50%;
	background-color: white;
	opacity: 0.8;
	padding: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	display: none;
}
section{
	margin-bottom: 20px;
}
button{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: black;
	color: white;
}
button:hover{

	cursor: pointer;
	background-color: #018aa9;
}
h1{
	color: #01B4DC;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	background-color: red;
	color: white;
}
#start{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 52px;

}
aside{
	margin: 0 auto;
	width: 10%;
	background-color: white;
	opacity: 0.8;
	padding: 70px;
	position: absolute;
	left: 0;
	right: 0;
	top: 150px;
	}